<?xml version="1.0"?>
<launch>
    <include file="$(find hector_quadrotor_demo)/launch/outdoor_flight_gazebo.launch"/>
    <include file="$(find hector_quadrotor_teleop)/launch/xbox_controller.launch"/>
    <node name="VisionUWBfilter" pkg="formation" type="visualuwbfilter.py" respawn="false" output="screen" >
    </node>

<!--
    <node pkg="visualuwb" type="frame_listener.py" 
          name="listener" output="screen" />

-->
</launch>
